@import "tailwindcss";

*:focus {
    outline: none !important;
  }
  
  input:focus, 
  textarea:focus, 
  select:focus, 
  button:focus {
    outline: none !important;
    border-color: #c2410c !important; 
    box-shadow: 0 0 0 2px rgba(194, 65, 12, 0.25) !important;
  }
  

  *:focus-visible {
    outline: none !important;
  }
  
  input:focus-visible, 
  textarea:focus-visible, 
  select:focus-visible, 
  button:focus-visible {
    outline: none !important;
    border-color: #c2410c !important; 
    box-shadow: 0 0 0 2px rgba(194, 65, 12, 0.25) !important;
  }